Source: openmediavault-subsonic
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: multimedia

Package: openmediavault-subsonic
Architecture: all
Depends: openmediavault (>= 3.0.13),
         openjdk-6-jre-headless | openjdk-7-jre-headless | openjdk-8-jre-headless | openjdk-6-jre | openjdk-7-jre | openjdk-8-jre,
         ffmpeg | libav-tools,
         lame,
         ${misc:Depends}
Homepage: http://www.subsonic.org/
Description: Subsonic is a web-based music streamer, jukebox and Podcast receiver,
 providing access to your music collection wherever you are.
 Use it to share your music with friends, or to listen to your music while away
 from home.
